{% extends "base.html" %}
{% load static %}
{% block title %}
Shunter | All Pairs
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center">All available pairs today</h2>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div>
            <table class="table fs-4">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">exchange</th>
                        <th scope="col">1 asset</th>
                        <th scope="col">2 asset</th>
                        <th scope="col">price</th>
                    </tr>
                </thead>
                    {% for pair in assets %}
                    <tbody>
                        <th scope="row">{{ pair.id }}</th>
                        <td>{{ pair.exchange }}</td>
                        <td>{{ pair.asset1 }}</td>
                        <td>{{ pair.asset2 }}</td>
                        <td>{{ pair.price }}$</td>
                    </tbody>
                    {% endfor %}
            </table>
        </div>
    </div>
</div>
  
{% endblock %}
